@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

.theFooter {
  background-color: #6379f4;
}

.whiteBackground {
  background-color: white;
}

.whiteText {
  color: white;
}

.homeContentMinHeight {
  height: fit-content !important;
}

.whiteBackgroundWithBorderRadius {
  background-color: white;
  border-radius: 25px;
}

.blueBackgroundWithBorderRadius {
  background-color: #6379f4;
  border-radius: 25px;
}

.myTransparentButton {
  border: 1px solid #ffffff;
  color: white;
  height: 42px;
  background: rgba(255, 255, 255, 0.2);
  width: 162px;
}

.superTransparentButton {
  border: 1px solid white;
  color: black;
  background: transparent;
}

.color {
  color: #f1f1f1;
}

@media (max-width: 991.98px) {
  .whiteBackgroundWithBorderRadius {
    margin-bottom: 3rem;
  }

  .transferTopUpSmaller {
    width: 100%;
    margin-top: 1rem;
  }
}

/* 
.standardButton {
  width: 28px;
  height: 28px; 
  color: #21b145;
} */
